.checking-margin {
   margin-bottom: 15px;
}

.account-container {
   display: flex;
   flex-flow: column;
   align-items: flex-end;
}

.error-text {
   color: red;
   line-height: 0.5;
}

.error-border {
   border: 2px solid red;
   border-radius: 4px;

}

.error-border:focus {
   border: 2px solid red;
   border-radius: 4px;
}

.form-group {
   margin-bottom: 11px;
}

.hide-input {
   display: none;
}

.less-padding {
   padding: 8px 3px
}

.rotate-arrow {
   transform: rotate(180deg);
   transition: transform .3s ease-in-out;
}

.glyphicon-menu-down {
   transition: transform .3s ease-in-out;
}

#dateCol {
   cursor: pointer;
}

.item-table {
   min-height: .01%;
   overflow-x: auto;
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
}

.modal-dialog {
   top: 30%;
}

@media screen and (max-width: 767px) {
   .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
   }
}

/* @media (min-width: 300px){
   .delete-button {
      display: none;
   }
}

@media (min-width: 768px){
   .delete-button {
      display: block;
   }
} */