.checking-margin {
   margin-bottom: 15px;
}

.account-container {
   display: flex;
   flex-flow: column;
   align-items: flex-end;
}

.error-text {
   color: red;
   line-height: 0.5;
}

.error-border {
   border: 2px solid red;
   border-radius: 4px;

}

.error-border:focus {
   border: 2px solid red;
   border-radius: 4px;
}

.form-group {
   margin-bottom: 11px;
}

.hide-input {
   display: none;
}

.less-padding {
   padding: 8px 3px
}

.rotate-arrow {
   transform: rotate(180deg);
   transition: transform .3s ease-in-out;
}

.glyphicon-menu-down {
   transition: transform .3s ease-in-out;
}

#dateCol {
   cursor: pointer;
}

.item-table {
   border: none;
}

.modal-dialog {
   top: 30%;
}

/* @media (min-width: 300px){
   .delete-button {
      display: none;
   }
}

@media (min-width: 768px){
   .delete-button {
      display: block;
   }
} */
